body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em;
  width: 80%;
  margin-left: 10%;
  height: 100%;
}

#action-group-container,#option-list,#action-groups {
  width: 30%;
}

.opt {
  border: 1px solid #666666;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 10px 10px 30px 10px;
}

.add-button {
  display: flex;
  flex-direction: row;
}

#action-group-container, #action-groups {
  display: flex;
  justify-content: center;
}

/* #option-list {
  text-align: center;
} */

#action {
  padding-right: 30px;
}

p {
  margin: 0;
  font-weight: bold;
}

.list {
  margin-top: 20px;
}

span {
  font-weight: normal;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#save {
  margin-top: 30px;
}

select {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-left: 10px;
  margin-bottom: 20px;
}

button.btn-success {
  margin-right: 10px;
}

form {
  width: 265px;
}

#wiper-repeat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#wiper-repeat {
  text-align: center;
}

.large {
  font-size: 2em;
}

.btn-xs {
  margin-right: 10px;
}

#option-list li {
  margin-top: 10px;
}

.btn-group-vertical {
  width: 90%;
}

.btn-group {
  width: 100%;
}

.btn-group-vertical>.btn-group>.btn {
  width: 80%;
}

  .btn-group-vertical>.btn-group>.btn-danger {
    width: 20%;
  }

.btn-group-vertical>.btn-group>.btn {
  float: left;
}

@media (max-width: 660px) {
  body {
    flex-direction: column;
    padding: 0;
  }

  #action-group-container,
  #option-list {
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  #action-group-container,
  #option-list {
    margin: 50px;
  }
}