#action-modal-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em;
  width: 80%;
  margin-left: 10%;
  height: 100%;
}

#action-modal-container #group-name #name {
  font-size: 20px;
  width: 70%;
  height: 28px;
  line-height: 28px;
}

#action-modal-container #add-list {
  margin-left: auto;
  margin-right: auto;
}

#action-modal-container #action-group-container,
#action-modal-container #option-list,
#action-modal-container #action-groups {
  width: 30%;
}

#action-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#action-modal-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#action-modal-container #action-list {
  width: 100%;
}

#action-modal-container .opt {
  border: 1px solid #666666;
  border-radius: 15px;
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: stretch;
  padding: 10px 10px 30px 10px;
}

#action-modal-container .add-button {
  display: flex;
  flex-direction: row;
}

#action-modal-container #action-group-container,
#action-modal-container #action-groups {
  display: flex;
  justify-content: center;
}

/* #option-list {
  text-align: center;
} */

#action {
  align-self: flex-start;
}

#action-modal-container p {
  margin: 0;
  font-weight: bold;
}

#action-modal-container .list {
  margin-top: 20px;
}

#action-modal-container span {
  font-weight: normal;
}

#action-modal-container input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#save {
  margin-top: 30px;
}

#action-modal-container select {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#action-modal-container input[type="checkbox"] {
  margin-left: 10px;
  margin-bottom: 20px;
}

#action-modal-container button.btn-success {
  margin-right: 10px;
}

#action-modal-container form {
  width: 265px;
}

#wiper-repeat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#wiper-repeat {
  text-align: center;
}

#action-modal-container .large {
  font-size: 2em;
}

#action-modal-container .btn-xs {
  margin-right: 10px;
}

#option-list li {
  margin-top: 10px;
}

#action-modal-container .btn-group-vertical {
  width: 90%;
}

#action-modal-container .btn-group {
  width: 100%;
}

#action-modal-container .btn-group-vertical>.btn-group>.btn {
  width: 80%;
}

#action-modal-container .btn-group-vertical>.btn-group>.btn-danger {
  width: 20%;
}

#action-modal-container .btn-group-vertical>.btn-group>.btn {
  float: left;
}

@media (max-width: 660px) {
  #action-modal-container {
    flex-direction: column;
    padding: 0;
  }

  #action-group-container,
  #option-list {
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  #action-group-container,
  #option-list {
    margin: 50px;
  }
}